body{
    margin:0
}



#container{
    align-items: center;
     background-color: black;
    height: 20%;
    justify-content: space-around;
    display: flex;

}

#main{
      background-color:black;
      color:white;
      height:80%;

}

#main strong{
    color:blue;
}

.category{
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    
}
