body{
    margin:0
}



#container{
    align-items: center;
     background-color: black;
    height: 20%;
    justify-content: space-around;
    display: flex;

}

#main{
      align-content: space-evenly;
      background-color:#292929;
      color:white;
      height:80%;
       text-align: left;

}

#main strong{
    color:blue;
}

.category{
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    transition: color 1s;
}

.category:hover{
  color:blue;
    
}
